<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primaria</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, delectus magnam error voluptatum mollitia non autem illum iusto eaque, atque dolores, quaerat libero ut veritatis! Illum quibusdam hic veniam dolores.</p>
        </ul>
        <ul>
            <li>
                <h1>Secundaria</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, delectus magnam error voluptatum mollitia non autem illum iusto eaque, atque dolores, quaerat libero ut veritatis! Illum quibusdam hic veniam dolores.</p>
        </ul>
        <ul>
            <li>
                <h1>Carrera Universitaria</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, delectus magnam error voluptatum mollitia non autem illum iusto eaque, atque dolores, quaerat libero ut veritatis! Illum quibusdam hic veniam dolores.</p>
        </ul>
        <ul>
            <li>
                <h1>Cursos Extracurriculares</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, delectus magnam error voluptatum mollitia non autem illum iusto eaque, atque dolores, quaerat libero ut veritatis! Illum quibusdam hic veniam dolores.</p>
        </ul>
    </div>
</div>
