<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="" class="img-fluid" id="fotoperfil">
        /*foto de perfil*/
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">González Galván Sebastián Ian</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, ipsa id, hic labore dolores ad, et placeat deleniti doloremque laborum exercitationem. Sapiente esse voluptatum similique nisi! Eum ducimus est iusto.</p>
        </span>
    </div>
    </div>

 