<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primer trabajo</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, delectus magnam error voluptatum mollitia non autem illum iusto eaque, atque dolores, quaerat libero ut veritatis! Illum quibusdam hic veniam dolores.</p>
        </ul>
        <ul>
            <li>
                <h1>Segundo trabajo</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, delectus magnam error voluptatum mollitia non autem illum iusto eaque, atque dolores, quaerat libero ut veritatis! Illum quibusdam hic veniam dolores.</p>
        </ul>
        <ul>
            <li>
                <h1>Tercer trabajo</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, delectus magnam error voluptatum mollitia non autem illum iusto eaque, atque dolores, quaerat libero ut veritatis! Illum quibusdam hic veniam dolores.</p>
        </ul>
    </div>
</div>

